body {
  margin: 0;
}

.parent {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: system-ui, sans-serif;
}

.header {
  background: lightpink;
  padding: 1rem;
}

.main {
  background: coral;
  display: grid;
  place-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: lightblue;
    height: 100%;
    width: 50%;
}

.instructions {
    display: flex;
   flex-direction: column;
   align-items: center;
}
.gameboard {
    background: lightgrey;
    height: 400px;
    width: 400px;
}

.footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
}
