*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cell-size-desktop: 200px;
  --emoji-size-desktop: calc((var --cell-size-desktop) * 0.9);
  --emoji-size-mobile: calc(33vw * 0.9);
}

body {
  margin: 0;
}

.parent {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: system-ui, sans-serif;
}

.header {
  background: lightpink;
  padding: 1rem;
  display: grid;
  place-items: center;
}

.main {
  background: coral;
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightblue;
  height: 100%;
  width: 100%;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 
refactor this code so the player icons display inline at the beginning and end of the parent, respectively
.avatars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.players {
  display: inline;
} */

.board {
  background: lightgrey;
  height: 600px;
  width: 600px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size-desktop);
  height: var(--cell-size-desktop);
  border: 2px solid blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell::after {
  content: attr(data-icon);
}

.footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .header,
  .footer {
    color: green;
    padding: 0.25rem;
  }

  .gameboard {
    height: 100vw;
    width: 100vw;
    background: orange;
  }

  .cell {
    height: 33vw;
    width: 33vw;
  }
}
