*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cell-size-desktop: 200px;
  --emoji-size-desktop: 8rem;
  --emoji-size-mobile: 4rem;
  --color-bg: lightcyan;
}

body {
  margin: 0;
}

.parent {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: system-ui, sans-serif;
}

.header {
  background: lightpink;
  padding: 1rem;
  display: grid;
  place-items: center;
}

.main {
  background: coral;
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightblue;
  height: 100%;
  width: 100%;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box, linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  cursor: grab;
}

.players span {
  font-size: var(--emoji-size-mobile);
}

.avatars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.players {
  display: inline;
}

.board {
  background: lightgrey;
  height: 600px;
  width: 600px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size-desktop);
  height: var(--cell-size-desktop);
  border: 2px solid blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--emoji-size-desktop);
}

.hover {
  content: "";
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: lightpink;
    opacity: 0.5;
}

.footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .header,
  .footer {
    color: green;
    padding: 0.25rem;
  }

  .board {
    height: 100vw;
    width: 100vw;
  }
  .players span {
    font-size: var(--emoji-size-mobile);
  }

  .cell {
    height: 33vw;
    width: 33vw;
    font-size: var(--emoji-size-mobile);
  }
}
