*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cell-size-desktop: 200px;
  --emoji-size-desktop: 8rem;
  --emoji-size-mobile: 4rem;
  --color-bg: lightcyan;
}

body {
  margin: 0;
}

.hide {
  display: none;
}

.parent {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: system-ui, sans-serif;
  background: lightblue;
}

.header {
  padding: 1rem;
  display: grid;
  place-items: center;
  max-height: 113px;
}

.main {
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.versus::after {
  content: "VS";
}

button {
  background: linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  cursor: grab;
}

.start {
  height: var(--emoji-size-desktop);
  width: var(--emoji-size-desktop);
}

.disabled {
  font-weight: 900;
  cursor: crosshair;
}

.players span {
  height: var(--emoji-size-mobile);
  width: var(--emoji-size-mobile);
  margin: 1rem;
}

.tokens {
  display: flex;
  align-items: flex-end;
}

.players,
.message {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: var(--emoji-size-mobile);
}

.card button {
  margin: 20px;
}

.board {
  height: 600px;
  width: 600px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size-desktop);
  height: var(--cell-size-desktop);
  border: 2px solid blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--emoji-size-desktop);
}

.cell:nth-child(-n + 3) {
  border-top: none;
}

.cell:first-child,
.cell:nth-child(3n + 4) {
  border-left: none;
}

.cell:nth-child(n + 7):nth-child(-n + 9) {
  border-bottom: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.hover {
  content: "";
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: lightpink;
  opacity: 0.5;
}

.footer {
  padding: 2rem;
  text-align: center;
  max-height: 84px;
}

@media (max-width: 768px) {
  .header,
  .footer {
    padding: 0.25rem;
  }

  .board {
    height: 100vw;
    width: 100vw;
  }
  .players span {
    font-size: var(--emoji-size-mobile);
  }

  .cell {
    height: 33vw;
    width: 33vw;
    font-size: var(--emoji-size-mobile);
  }
}
